body{
    background:#fff;
}




.container{
    /* height:330px; */
    /* width:1000px; */
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    padding:20px;
     /* border:1px solid #08038C;  */
    background: #fff;
    box-shadow:0 0 8px 3px #fff;

}
.title{
    padding-top:20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color:#08038C;

}
.Qestion{
    padding:20px;
    font-size: 22px;
    background:#08038C;
    border-radius: 20px;
    margin:10px 0 10px 0;
    color: #f6f6f6;
}
.option{
    width: 470px;
    display:inline-block;
    padding:10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(225,225,225,0.5);
    margin:10px 0 10px 15px;
    color:#000000;
    border-radius: 20px;
}

.option:hover{
    background:#08038C;
    color:#f6f6f6

}
.next-Button{
    border: none;
    outline:none;
    width:100px;
    height:35px;
    border-radius: 20px;
    float:right;
    margin: 10px;
}
.next-Button:hover{
    background: #08038C;
    color:#f6f6f6;
}
.result{
    height:100px;
    text-align: center;
    font-size:75px;
}
.option input:checked .option{
    background:#08038C;
    color: #000;

}
.timerBox{
    margin-left: 100px;
    font-size: 50px;
    

}
@media screen  and (max-width:768px){
    #time{
        margin-left:5px;
    }
    
}